
@{
    ViewBag.Title = "CrearArchivo";
}

<h2>Crear por Archivo</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


}
@using (Html.BeginForm("CrearArchivo", "Configuracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="postedFile" />
    <input type="submit" value="Importar" />
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


