
@{
    ViewBag.Title = "Opciones";
}

<h2>Opciones</h2>

@using (Html.BeginForm("Opciones", "Configuracion", FormMethod.Post))
{

    <p><h3>Grado y Direccion del arbol</h3></p>
        <p><h6>Grado</h6></p>
        @Html.TextBox("filter")
        <p><h6>Dirección</h6></p>
        <input type="file" name="postedFile" />
        <input type="submit" value="Importar" />
        <p><h6>Configuración</h6></p>
    <input type="submit" name="submitButton" value="Editar Usuarios" />
    <input type="submit" name="submitButton" value="Editar Catalogo" />
}