
@{
    ViewBag.Title = "Opciones";
}

<h2>Opciones</h2>

@using (Html.BeginForm("Opciones", "Configuracion", FormMethod.Post))
{

    <input type="submit" name="submitButton" value="Editar Usuarios" />
    <input type="submit" name="submitButton" value="Editar Catalogo" />
}